.App {
    text-align: center;
}

.Appmain {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 3% 40%;
}

.showVote {
    margin: 3% 0;
}

.getWinner {
    margin: 3% 0;
}

.getOptions {
    margin: 3% 0;
}

.Appmain input {
    margin: 3% 0;
}

.vote {
    background-color: red;
    text-decoration: none;
}